<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GoChat, real-time chat room built on Go.">
    <title>GoChat</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        [contenteditable]:empty:before {
            content: attr(data-placeholder);
            color: #a0aec0;
        }

        ::-webkit-scrollbar {
            width: 0.5em;
            height: 0.5em;
        }

        ::-webkit-scrollbar-track {
            background-color: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #000000;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color:#424242;
        }

        .chat::-webkit-scrollbar {
            width: 0.5em;
            border-radius: 5px;
        }

        .chat::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            border-radius: 5px;
        }

        .chat::-webkit-scrollbar-thumb {
            background-color: #264a73;
            border-radius: 5px;
        }

        .chat::-webkit-scrollbar-thumb:hover {
            background-color: #1d395a;
            border-radius: 5px;
        }
    </style>
</head>

<!-- https://www.realtimecolors.com/?colors=dce5f0-0a121b-8cb0d9-234c7c-4b8ad4&fonts=Inter-Inter -->
<body class="flex flex-col min-h-screen max-h-screen bg-[#e5edf5] text-[#0f1824]">
    <main class="grow flex flex-col justify-center pt-4 lg:pb-4">
        <header class="text-center">
            <h1 class="text-4xl font-bold">GoChat</h1>
            <p>Real-time chat room built on Go.</p>
        </header>

        <section class="flex flex-col items-center justify-center mt-8 grow">
            <div class="grow flex flex-col lg:flex-row w-full border-4 border-[#264a73]">
                <div class="py-4 px-8 lg:w-1/5 bg-[#264a73] flex flex-col gap-8">
                    <div class="flex items-center justify-between">
                        <h3 class="w-full text-white font-bold text-xl text-ellipsis overflow-hidden">
                            {{.Room.Name}}
                        </h3>
                        <button onclick="leave()" class="w-32 lg:hidden text-sm bg-red-700/70 text-white py-2 px-2 rounded-md hover:bg-red-600 duration-500">
                            Leave Room
                        </button>
                    </div>
                    <div class="user-list flex lg:flex-col overflow-x-auto lg:flex-wrap gap-2 lg:gap-4 pb-2 lg:pb-0 w-full items-center lg:items-start">
                        {{range .Members}}
                        <div class="flex items-center justify-between gap-2 bg-white rounded-md py-2 px-4 min-w-fit lg:w-full h-full lg:h-fit">
                            {{.Username}}
                        </div>
                        {{end}}
                    </div>
                    
                    <button onclick="leave()" class="hidden lg:block bg-red-700/70 text-white py-2 px-4 rounded-md lg:mt-auto hover:bg-red-600 duration-500">
                        Leave Room
                    </button>
                </div>

                <div class="px-8 py-4 lg:w-4/5 flex flex-col gap-4">
                    <div class="chat h-[calc(100vh-400px)] lg:h-[calc(100vh-330px)] overflow-y-auto flex flex-col gap-4 pe-2"></div>

                    <div class="flex justify-between items-center gap-4 rounded-md text-white relative">
                        <div id="message" class="max-w-full flex-grow p-4 bg-[#264a73] focus:outline-none rounded-md text-wrap break-all" contenteditable="true" data-placeholder="Type a message..."></div>
                        
                        <button onclick="sendMessage()" class="h-12 aspect-square p-2 bg-[#264a73] rounded-full hover:bg-[#1a3a5e] hover:scale-110 duration-500">
                            <svg class="h-full w-full fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m21.426 11.095-17-8A1 1 0 0 0 3.03 4.242l1.212 4.849L12 12l-7.758 2.909-1.212 4.849a.998.998 0 0 0 1.396 1.147l17-8a1 1 0 0 0 0-1.81z"></path></svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <footer class="my-8 hidden lg:block">
        <div class="text-center">
            <p>
                Built by 
                <a href="https://ana117.github.io/" target="_blank" class="underline underline-offset-2 hover:underline-offset-4 duration-500">
                    ana117
                </a>
            </p>
        </div>
    </footer>

    <script>
        function leave() {
            fetch('/leave', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            }).then(() => {
                window.location.href = '/';
            });
        }

        let socket = new WebSocket('ws://' + window.location.host + '/ws');
        socket.onmessage = function(event) {
            let wsMessage = JSON.parse(event.data);
            let message = wsMessage.message;
            let messageType = wsMessage.messageType;

            switch (messageType) {
                case 'chat':
                    updateChat(message);
                    break;
                case 'join':
                    addUserList(message);
                    break;
                case 'leave':
                    removeUserList(message);
                    break;
                default:
                    console.error('Unknown message type:', messageType);
            }
        };

        function sendMessage() {
            let messageContent = document.getElementById('message').innerText;
            if (messageContent.trim() === '') {
                return;
            }

            socket.send(JSON.stringify({
                messageType: 'chat',
                message: {
                    sender: {{.User}},
                    message: messageContent
                }
            }));
            document.getElementById('message').innerText = '';
        }

        document.getElementById('message').addEventListener('keydown', function(event) {
            if (event.key === 'Enter' && !event.shiftKey) {
                event.preventDefault();
                sendMessage();
            }
        });

        function updateChat(message) {
            let chat = document.querySelector('.chat');
            let you = '{{.User.Username}}';

            let messageElement = document.createElement('div');
            messageElement.classList.add('flex', 'gap-4', 'items-center');

            let senderIcon = document.createElement('div');
            senderIcon.classList.add('rounded-full', 'font-bold', 'w-8', 'h-8', 'truncate', 'flex', 'items-center', 'justify-center', 'py-2');
            senderIcon.innerText = message.sender.shortUsername;

            let messageText = document.createElement('p');
            messageText.classList.add('flex', 'items-center', 'rounded-md', 'px-4', 'py-2');
            messageText.innerText = message.message;

            if (message.sender.username === you) {
                messageElement.classList.add('flex-row-reverse');
                messageElement.classList.add('text-white');
                senderIcon.classList.add('bg-[#264a73]');
                messageText.classList.add('bg-[#264a73]');
            } else {
                senderIcon.classList.add('bg-white');
                messageText.classList.add('bg-white');
            }

            messageElement.appendChild(senderIcon);
            messageElement.appendChild(messageText);

            chat.appendChild(messageElement);
            chat.scrollTop = chat.scrollHeight;
        }

        function addUserList(username) {
            let userList = document.querySelector('.user-list');

            let userElement = document.createElement('div');
            userElement.classList.add('flex', 'items-center', 'justify-between', 'gap-2', 'bg-white', 'rounded-md', 'py-2', 'px-4', 'min-w-fit', 'lg:w-full', 'h-full', 'lg:h-fit');
            userElement.innerText = username;

            let you = '{{.User.Username}}';
            if (username === you) {
                let youElement = document.createElement('span');
                youElement.classList.add('text-[#264a73]', 'font-bold', 'ms-auto');
                youElement.innerText = 'You';
                userElement.appendChild(youElement);
            }

            userList.appendChild(userElement);
        }

        function removeUserList(username) {
            let userList = document.querySelector('.user-list');
            let userElements = userList.children;

            for (let i = 0; i < userElements.length; i++) {
                if (userElements[i].innerText === username) {
                    userList.removeChild(userElements[i]);
                    break;
                }
            }
        }
    </script>
</body>
</html>